{
  "db_configs": [
    {
      "dbname": "compare_1",
      "user": "postgres",
      "password": "postgres00",
      "host": "localhost",
      "port": 5433
    },
    {
      "dbname": "compare_2",
      "user": "postgres",
      "password": "postgres00",
      "host": "localhost",
      "port": 5433
    }
  ]
}
